html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 100vw;
    background-image: url(cool-background.png);
    font-family: 'Piazzolla', serif;
}

h1 {
    text-align: center;
    color: rgba(151, 25, 25, 0.911);
    text-shadow: 3px 3px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.image-card {
    justify-self: center;
    align-self: center;
    display: flex;
    column-gap: .5rem;
    padding: 0;
    opacity: 0.7;
    transition: all .3s;
}

.image-card img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
    box-shadow: 3px 3px grey;
}

.image-card:hover {
    opacity: 1;
}
